<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <title>Login</title>
</head>
<body>
    <% if (messages) { %>
        <p><%= messages %></p>
    <% } %>
    <form action="/signup" method="post">
        <h2>Sing Up</h2>
        <label for="username">Username</label>
        <input type="string" name="username"/>
        <label for="password">Password</label>
        <input type="password" name="password"/>
        <label for="vePassword">Verify password</label>
        <input type="password" name="vePassword"/>
        <input type="submit" value="Submit">
    </form>
    <form action="/signin" method="post">
        <h2>Sing In</h2>
        <label for="username">Username</label>
        <input type="string" name="username"/>
        <label for="password">Password</label>
        <input type="password" name="password"/>
        <input type="submit" value="Submit">
    </form>
</body>
</html>